# macOS specific files
.DS_Store

# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Django/DRF specific
*.log
.env

# Documentation files
DOCKER_PUBLISH.md
README_DOCKER.md
TEST_RUN_GUIDE.md
TEST_README.md